.header-bar {
    background-color: #007fff;
    margin-top: -20px;
}

.header-name h2 {
    width: 200px;
    padding-top: 20px;
}

.header-name p {
    width: 400px;
    margin-top: -20px;
    margin-left: -42px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
}

.nav-bar a {
    margin-left: 50px;
    size: 14px;
}

.nav-bar button {
    margin-left: 20px;
    size: 14px;
    border: 1px solid black;
}